/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  caret-color: transparent;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

main {
  position: relative;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1240px;
  margin: 0 auto;
}

.contact_modal {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  font-size: 36px;
}
.modal-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.modal-header img {
  position: inherit;
  cursor: pointer;
}
.modal-header h2 {
  position: inherit;
  font-size: 64px;
  line-height: 1.2;
  font-weight: normal;
  white-Space: pre-wrap;
  top: -15px;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}
.modal #message {
  height: 170px;
}

.modal--visible {
  display: block;
}

.photographer-media {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  -moz-column-gap: 95px;
       column-gap: 95px;
  margin: 0 auto;
  max-width: 1240px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}
.photographer_section article img {
  cursor: pointer;
}
.photographer_section article p:nth-of-type(1) {
  color: #901C1C;
  font-size: 20px;
}
.photographer_section article p:nth-of-type(2) {
  font-size: 17px;
}
.photographer_section article p:nth-of-type(3) {
  font-size: 16px;
  color: #757575;
}

.photograph-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 auto;
  max-width: 1240px;
  padding: 50px;
}
.photograph-header button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  order: 1;
}
.photograph-header .photographer-header-name-city-tag {
  order: 0;
}
.photograph-header .photographer-icon {
  order: 2;
}
.photograph-header h2 {
  color: #d3573c;
  font-size: 48px;
  font-weight: 400;
}
.photograph-header p:nth-of-type(1) {
  color: #901c1c;
  font-size: 24px;
}
.photograph-header p:nth-of-type(2) {
  font-size: 18px;
  margin-top: 15px;
}

.contact_button, .contact_button_send {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button_send {
  margin-top: 26px;
}

.logo {
  height: 50px;
}

.price {
  position: absolute;
  right: -75px;
  top: 400px;
  width: 376px;
  height: 89px;
  background-color: #DB8876;
  border-radius: 5px;
  font-size: 24px;
  z-index: 1;
}

.photographer-icon {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.photographer-img-243 {
  scale: 1.4;
}

.photographer-img-930 {
  position: absolute;
  top: 60px;
  scale: 2.5;
}

.photographer-img-82 {
  scale: 1.25;
  position: absolute;
  left: 23px;
  top: 3px;
}

.photographer-img-527 {
  position: absolute;
  scale: 1.2;
  bottom: -76px;
}

.photographer-img-925 {
  position: absolute;
  scale: 2.5;
  top: 65px;
}

.photographer-img-195 {
  position: absolute;
  scale: 2.7;
  top: 65px;
}

.photographer-media-card {
  width: 26%;
  min-width: 350px;
  max-width: 350px;
  min-height: 351px;
  color: #901c1c;
  font-size: 1.5em;
}

.photographer-media-image {
  width: 100%;
  min-width: 350px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.photographer-media-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photographer-media-image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographer-media-title-price-like-heart {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
}

.photographer-media-title {
  width: 240px;
}

.photographer-media-price-likes-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  white-space: nowrap;
}

.photographer-media-likes-heart {
  display: flex;
  align-items: center;
}

.photographer-media-likes {
  margin-right: 5px;
}

/* @import "./base/normalize";
@import "./utils/variables-color";
@import "./utils/variables-mediaqueries";
@import "./utils/variables-font";
@import "./base/base";
@import "./layout/header-small";
@import "./layout/header-large";
@import "./layout/carousel-small";
@import "./layout/carousel-large";
@import "./layout/body-page";
@import "./layout/footer-small";
@import "./layout/footer-large";
@import "./layout/hook-small";
@import "./layout/hook-large";
@import "./components/card-grey-small";
@import "./components/card-grey-large";
@import "./components/button-small";
@import "./components/button-large";
@import "./components/card-small";
@import "./components/card-large";
@import "./components/up-and-down-small";
@import "./components/up-and-down-large";
@import "./pages/home-small";
@import "./pages/home-large";
@import "./pages/error-small";
@import "./pages/error-large";
@import "./pages/fiche-small";
@import "./pages/fiche-large";
@import "./pages/a-propos-small";
@import "./pages/a-propos-large"; */