.contact_modal {
  display: none;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  font-size: 36px;
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    img {
      position: inherit;
      cursor: pointer;
    }
    h2 {
      position: inherit;
      font-size: 64px;
      line-height: 1.2;
      font-weight: normal;
      white-Space: pre-wrap;
      top: -15px;
    }
  }
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200; 
  }
  #message {
    height: 170px;
  }
}

.modal--visible{
  display: block;
}