.photographer-icon {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.photographer-243 img {
  scale: 1.4;
}

.photographer-930 img {
  position: absolute;
  top: 60px;
  scale: 2.5;
}

.photographer-82 img {
  scale: 1.25;
  position: absolute;
  left: 23px;
  top: 3px
}

.photographer-527 img{
  position: absolute;
  scale: 1.2;
  bottom: -76px;
}

.photographer-925 img{
  position: absolute;
  scale: 2.5;
  top:65px;
}

.photographer-195 img{
  position: absolute;
  scale: 2.7;
  top: 65px
}