.photographer-icon {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.photographer-img-243 {
  scale: 1.4;
}

.photographer-img-930 {
  position: absolute;
  top: 60px;
  scale: 2.5;
}

.photographer-img-82 {
  scale: 1.25;
  position: absolute;
  left: 23px;
  top: 3px
}

.photographer-img-527 {
  position: absolute;
  scale: 1.2;
  bottom: -76px;
}

.photographer-img-925 {
  position: absolute;
  scale: 2.5;
  top:65px;
}

.photographer-img-195 {
  position: absolute;
  scale: 2.7;
  top: 65px
}