.photographer-like-price {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  right: 100px;
  padding: 0 50px 10px 50px;

  width: 376px;
  height: 89px;
  background-color: #db8876;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.photographer-like-heart {
display: flex;
align-items: center;
order: 1;
}

.photographer-like-heart img{
    padding-left: 10px;
    }


.photographer-price{
order: 2;
}